body {
    background-color: $off-white;
    min-width: 320px;
    margin: 0;
}

main {
    @extend .grid-container;
    @extend .grid-parent;

    &.full-width {
        background-color: $white;
    }

    article {
        background-color: $white;
    }

    div#root {
        background-color: $white;
        padding: 20px 20px 0;
    }
}

ul {
    padding: 0;
    margin: 0;
}

.full-width {
    max-width: 100%;
}

.center-wrapper { 
    @extend .grid-container;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: none;
}