body {
	background-color: $off-white;
	min-width: 320px;
	margin: 0;

	&.white-background {
		background-color: $white;
	}
}

main {
	@extend .grid-container;
	@extend .grid-parent;

	background-color: $white;
	display: flex;
	flex-direction: row;
	justify-content: left;

	@media #{$mobile} {
		flex-direction: column;
	}

	&.full-width,
	article {
		background-color: $white;
		flex-direction: column;
		flex-grow: 1;
	}

	&.profile {
		background-color: $off-white;
		max-width: 1200px;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: block;
	}

	#root {
		// sass-lint:disable-line no-ids (#root needed for React)
		@extend .grid-container;
		margin: 0;
		background-color: $white;
		padding: 32px 16px;
		flex-grow: 1;

		@media #{$desktop} {
			padding: 40px 32px;

			> * {
				max-width: 66%;
				width: 66%;
			}
		}
	}

	.page-container {
		@include main-layout;
	}
}

ul {
	padding: 0;
	margin: 0;

	li,
	.li {
		margin: 0 0 20px 0;
	}
}

.full-width {
	max-width: 100%;
}

p img {
	max-width: 100%;
}

.center-wrapper {
	@include center-wrapper;

	&.relative {
		position: relative;
	}
}

.dashboard-container {
	@media #{$tablet, $mobile} {
		padding: 0 10px;
	}

	width: 100%;
	background-color: $off-white;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: none;
}

.hidden {
	display: none;
}

.noscroll {
	overflow: hidden;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}

.margin-auto {
	margin: auto;
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-right {
	margin-right: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-left {
	margin-left: 0;
}

.margin-top {
	margin-top: 1em;
}

.margin-right {
	margin-right: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-left {
	margin-left: 1em;
}

.thick-divider {
	height: 3px;
	border: none;
	color: $grey-light;
	background-color: $grey-light;
}

.thin-divider {
	@extend .thick-divider;
	height: 1px;
}

.darken {
	background-color: rgba(20, 20, 20, 0.5);
	height: 100%;
	min-height: 400px;
}

.fa-download {
	margin-right: 12px;
}
