body {
    background-color: $off-white;
    min-width: 320px;
    margin: 0;
}

main {
    @extend .grid-container;
    @extend .grid-parent;

    &.full-width,
    article {
        background-color: $white;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: block;
    }

    #root, // sass-lint:disable-line no-ids (#root needed for React)
    .page-container {
        @include main-layout;
    }
}

ul {
    padding: 0;
    margin: 0;
}

.full-width {
    max-width: 100%;
}

.center-wrapper { 
    @include center-wrapper;
}

.dashboard-container {
    @media #{$tablet, $mobile} { 
        padding: 0 10px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: none;
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}