/* Primary Colours */
$primary-pale: #83aeac;
$primary-light: #3a716e;
$primary: #055c58;
$primary-dark: #124a47;
$primary-darker: #1d3837;
$primary-darkest: #092726;

/* Secondary Colours */
$teal-darker: #1a8c7a;
$teal: #00b79b;
$soft-blue: #207eab;
$green: #15863a;
$orange: #ef8a16;
$red: #c83725;
$purple: #8e5572;

/* Greys */
$white: #ffffff;
$off-white: #ebebeb;
$grey-lightest: #e1e1e1;
$grey-lighter: #cccccc;
$grey-light: #bcbcbc;
$grey-middle: #999999;
$grey-dark: #666666;
$grey-darkest: #333333;
$black: #000000;

/* Social Colours */
$facebook: #3B5998;
$twitter: #00aced;
$youtube: #ff0000;
$instagram: #8a3ab9;
