@import '../mixins/mixins';

// Variables
$font-family: 'Noto Sans', Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', sans-serif;

/* Font weight */
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 600;

/* Font Size */
$fontSizeSmall: 0.875em;
$fontSizeDefault: 1em;
$fontSizeBold: 1.250em;
$fontSizeLarge: 1.375em;
$fontSizeLarger: 1.750em;
$fontSizeExtraLarge: 3.750em;

/* Mobile Font Size */
$mobileFontSizeLarge: 1.375em;
$mobileFontSizeLarger: 1.625em;
$mobileFontSizeExtraLarge: 2.250em;

/* Base */
body {
    font: 16px / 2 'Noto Sans', Arial, sans-serif;;
    color: $grey-darkest;
    -webkit-font-smoothing: antialiased;
}

/*------------------- Headings -------------------*/

h1,
.h1 {
    font-family: $font-family-headings;
    color: $primary;
    font-size: $fontSizeExtraLarge;
    font-weight: $fontWeightBold;
    line-height: 1em;
    margin: 0 0 21px 0;

    @media #{$mobile} {
        font-size: $mobileFontSizeExtraLarge;
    }
}

h2,
.h2 {
    font-family: $font-family-headings;
    color: $grey-darkest;
    font-size: $fontSizeLarger;
    font-weight: $fontWeightBold;
    line-height: 1em;
    margin: 0 0 26px 0;

    @media #{$mobile} {
        font-size: $mobileFontSizeLarger;
    }
}

h3,
.h3 {
    font-family: $font-family-headings;
    color: $grey-darkest;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightBold;
    margin: 0 0 26px 0;
    line-height: 1em;

    @media #{$mobile} {
        font-size: $mobileFontSizeLarge;
    }
}

h4,
.h4 {
    font-family: $font-family-headings;
    color: $grey-darkest;
    font-size: $fontSizeBold;
    font-weight: $fontWeightBold;
    margin: 0 0 26px 0;
    line-height: 1em;
}

p,
.p {
    font-family: $font-family;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightRegular;
    margin: 0 0 20px 0;
    line-height: 2em;
}

a {
    color: $primary;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:active,
    &:focus {
        text-decoration: none;
        outline: 3px solid $orange;
    }
}