@import '../mixins/mixins';

// Variables
$font-family: 'Noto Sans', Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', sans-serif;

/* Font weight */
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

/* Font Size */
$fontSizeSmall: 0.875em;
$fontSizeDefault: 1.187em;
$fontSizeBold: 1.187em;
$fontSizeLarge: 1.5em;
$fontSizeLarger: 2.25em;
$fontSizeExtraLarge: 3em;

/* Mobile Font Size */
$mobileFontSizeRegular: 1em;
$mobileFontSizeBold: 1em;
$mobileFontSizeLarge: 1.125em;
$mobileFontSizeLarger: 1.5em;
$mobileFontSizeExtraLarge: 2em;

/* Base */
body {
    font: 16px / 2 'Noto Sans', Arial, sans-serif;;
    color: $grey-darkest;
    -webkit-font-smoothing: antialiased;
}

/*------------------- Headings -------------------*/
form {
    h1 {
        font-weight: 600;
    }
}

h1,
.h1 {
    font-family: $font-family-headings;
    color: $primary-text;
    font-size: $fontSizeExtraLarge;
    font-weight: $fontWeightBold;
    line-height: 3.125em;
    margin: 0 0 21px 0;

    @media #{$mobile} {
        font-size: $mobileFontSizeExtraLarge;
        line-height: 2.187em;
    }
}

h2,
.h2 {
    font-family: $font-family-headings;
    color: $primary-text;
    font-size: $fontSizeLarger;
    font-weight: $fontWeightBold;
    line-height: 2.5em;
    margin: 0 0 26px 0;

    @media #{$mobile} {
        font-size: $mobileFontSizeLarger;
        line-height:  1.875em;
    }
}

h3,
.h3 {
    font-family: $font-family-headings;
    color: $primary-text;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightBold;
    margin: 0 0 26px 0;
    line-height:  1.875em;

    @media #{$mobile} {
        font-size: $mobileFontSizeLarge;
        line-height: 1.25em;
    }
}

h4,
.h4 {
    font-family: $font-family-headings;
    color: $primary-text;
    font-size: $fontSizeBold;
    font-weight: 600;
    margin: 0 0 26px 0;
    line-height: 1.562em;

    @media #{$mobile} {
        font-size: $mobileFontSizeBold;
        line-height: 1.25em;
    }
}

p,
.p {
    font-family: $font-family;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightRegular;
    margin: 0 0 20px 0;
    line-height: 1.562em;
    @media #{$mobile} {
        font-size: $mobileFontSizeRegular;
        line-height: 1.75em;
    }
}

a {
    color: $primary;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:active,
    &:focus {
        text-decoration: none;
        outline: 3px solid $orange;
    }
}

.lead-paragraph {
    font-size: 1.5em;
    line-height: 2em;
        
    @media #{mobile} {
        font-size: 1.125em;
        line-height: 1.75em;
    }
}