.appointment-select {
    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
}

.appointment-select-time {
    @extend .appointment-select;
}

.appointment-select-date {
    @extend .appointment-select;

    ol li {
        display: block;
    }
}

form .appointment-radio-container {
    display: inline-block;
    position: relative;
    margin: 0 20px 30px 0;

    label {
        @extend .button-inverted;
        width: inherit;
        margin: 0;
        padding: 10px 35px;

        &:before {
            content: none;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;

        &:checked + label {
            @extend .button-selected;
            width: inherit;
            margin: 0;
            padding: 10px 35px;

            &:before {
                content: none;
            }
        }
    }

    @media #{$mobile} {
        display: block;
        margin-right: 0;
    }
}

form .new-appointment-radio-container {
    display: inline-block;
    position: relative;
    margin: 20px 20px 30px 0;

    label {
        @extend .button-radio-list;
        width: inherit;
        margin: 0;
        padding: 10px 35px;
        font-family: $font-family-headings;

        &:before {
            content: none;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;

        &:checked + label {
            @extend .button-selected;
            width: inherit;
            margin: 0;
            padding: 10px 35px;

            &:before {
                content: none;
            }
        }
    }

    @media #{$mobile} {
        display: block;
        margin-right: 0;
    }
}