.input-error {
    margin-top: -32px;

    .input-content {
        > p {
            background: $red;
            color: $white;
            width: 100%;
            max-width: 530px;
            padding: 10px;
            margin-bottom: 0;
            position: relative;
            top: -25px;

            @media #{$mobile} {
                width: auto;
                max-width: 100%;
            }

            &:before {
                content: "\f0d8";
                font-family: FontAwesome;
                font-size: 2em;
                color: $red;
                position: absolute;
                top: -20px;
            }
        }
    }
}

.input-radio-container + .input-error,
.input-checkbox-container + .input-error {
    margin-top: -17px;
}

.input-error-content {
    background: $red;
    color: $white;
    width: 100%;
    max-width: 530px;
    padding: 10px;
    margin-bottom: 0;
    position: relative;
    top: -20px;

    @media #{$mobile} {
        width: auto;
        max-width: 100%;
    }

    &:before {
        content: "\f0d8";
        font-family: FontAwesome;
        font-size: 2em;
        color: $red;
        position: absolute;
        top: -20px;
    }
}