.currency-input-container {
    > i,
    span {
        position: absolute;
        padding: 15px 10px 10px 15px;
        pointer-events: none;
    }

    input[type="number"] {
        text-align: center;
    }
}