form {
    margin: 0;
    width: 100%;
    word-break: break-word;

    @media #{$desktop, $tablet} {
        &:not(fieldset, .header-container) {
        h1,
        h3,
        h2,
        p,
        li {
           width: 66.6667%
        }

    }
    }
    
    fieldset {
        border: none;
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0;

        legend {
            padding: 0;
            width: 66%;

            @media #{$mobile} {
                width: 100%
            }
        }

        @media #{$desktop, $tablet} {
            width: 66.6667%
        }

        @media not all and (min-resolution: .001dpcm) { 
            @supports (-webkit-appearance: none) {
                legend {
                    -webkit-margin-top-collapse: separate;
                    margin-bottom: 20px;
                }
            }
        }
    }

    h3,
    .h3 {
        @media #{$mobile} {
            margin-bottom: 0;
        }
        display: block;

        &.optional {
            display: inline-block;
        }

        &.no-margin-bottom {
            margin-bottom: 0;
        }
    }

    label {
        @extend h3;

        @media #{$mobile} {
            margin-bottom: 16px;
        }
    }

    h2.optional {
        margin-bottom: 0;
        display: inline-block;
    }

    p {
        &.optional {
            padding-left: 10px;
            font-size: $fontSizeSmall;
            display: inline-block;
            margin-bottom: 0;
    
            @media #{$mobile} {
                display: block;
                padding: 0;
                margin-bottom: 16px;
            }
        }

        &.extra-margin-bottom {
            margin-bottom: 25px;
        }

        &.description {
            @extend .grid-66;
            float: none;
            padding: 0;
        }
    }

    hr {
        margin-bottom: 20px;
    }

    ul {
        margin: 0 0 20px 15px;
    }
}

.recaptcha {
    margin-bottom: 25px;
}

.indented-list {
    margin: 0 0 20px 35px;

    @media #{$mobile} {
        margin-left: 25px;
    }
}

.header-on-more-than-one-line {
    display: block;
    margin-bottom: 26px;
}

.input-addon {
    width: 10px;
    vertical-align: middle;
    background-color: $off-white;
    border-bottom: 1px solid $grey-lightest;
    border-left: 1px solid $grey-lightest;
    border-top: 1px solid $grey-lightest;
    @include border-radius(3px 0 0 3px);
    font-size: 1.5em;
    padding: 0 10px;

    + input {
        @include border-radius(0 3px 3px 0);
    }
}

// sass-lint:disable class-name-format
.smallerText {
    font-size: $fontSizeDefault;
    line-height: 20px;

    @media #{$mobile} {
        font-size: $fontSizeSmall;   
    }
}

.spinner {
    @include animation(load 1s ease-in-out infinite);
    display: inline-block;
    line-height: 1em;
    text-align: center;
    height: 30px;
    width: 30px;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    color: $grey-darkest;
    position: relative;
    top: 5px;
    left: 5px;

    &::after {
        content: "\f1ce";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
    }
}
