.pagination-container {
    border-bottom: 2px solid $dark-border;
    border-top: 2px solid $dark-border;
    margin-bottom: 15px;
    display: flex;

    @media #{$mobile} {
        display: block;
    }

    .pagination-previous, 
    .pagination-next {
        
        @media #{$mobile} {
            width: 100%;
        }

        width: 50%;
        display: flex;

        > a {
            background-color: transparent;
            color: $teal-darker;
            text-decoration: none;
            width: 100%;  
            text-align: left;
            display: flex;
            align-items: center;

            > div {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            i {
                color: rgba(0,0,0,.1);
            }
        }

        .pagination-header {
            color: $teal-darker;
            font-weight: $fontWeightBold;
        }

        > a:hover {
            text-decoration: none;
            background-color: $off-white;

            .pagination-header {
                text-decoration: underline;  
            }
        }

        p {
            color: $grey-darkest;
        }

        .pagination-chevron {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 45px;
            color: $dark-border;
        }
    }

    .pagination-previous {
        > a {
            justify-content: flex-start;

            i {
                margin-right: 15px;
                margin-left: 10px;
            }
        }
    }

    .pagination-next {
        > a {
            justify-content: flex-end;

            i {
                margin-left: 15px;
                margin-right: 10px;
            }
        }
    }
}