.sort-code {
    input {
        width: 15%;

        @media #{$tablet} {
            width: 40%
        }

        @media #{$mobile} {
            width: 100%;
         }
    }

    .input-error-content {
        max-width: 530px;
        width: 23%;

        @media #{$mobile} {
            width: auto;
            max-width: 100%;
        }
        
        @media #{$tablet} {
            width: 38%
        }
    }
}