.tracking-reference {
    text-align: center;
    border: 1px solid $grey-lighter;
    border-left: none;
    border-right: none;
    background: $grey-lightest;
    margin-bottom: 20px;

    h3 {
        padding-top: 20px;
        margin-bottom: 0;
        padding-bottom: 15px;
    }

    h1 {
        color: $grey-darkest;
        margin-top: 0;
    }
}

.notification {
    text-align: center;

    &.success {
        i {
            color: $green;
        }
    }
}