@mixin flex($direction) {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-direction: $direction;
	-webkit-flex-direction: $direction;
}

@mixin flex-row($count, $gap) {
	width: (100% * (1 / $count) - $gap);
	-webkit-flex-grow: 1;
	flex-grow: 1;
	flex-basis: 0;
	-webkit-flex-basis: 0;
	margin: 0 $gap;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

@mixin flex-column($gap) {
	width: 100%;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin-top: $gap;
	margin-bottom: $gap;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
