@mixin button-colors ($buttonColour, $textColour) {
    color: $textColour;
    background-color: $buttonColour;

    a {
        color: $textColour;
    }

    &:hover, &:focus {
        background-color: lighten($buttonColour, 5%);
    }

    &:active {
        background-color: darken($buttonColour, 5%);
    }
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin outline {
    outline: 3px solid $orange;
}

@mixin transition-box-shadow($shadow) {
    transition: all .5s;
    transition-property: box-shadow;
    cursor: pointer;
    text-decoration: none;
    @include box-shadow($shadow);
}

@mixin chevron($right-position) {
    position: absolute;
    top: 50%;
    right: $right-position;
    margin-top: -10px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    font-size: 20px;
}

@mixin alert-colours($content-background-color, $font-color) {
    background-color: $content-background-color;

    a {
        color: $font-color;
    }

    > i {
        background-color: darken($content-background-color, 10%);
    }

    .content {
        color: $font-color;

        h2 {
            color: $font-color;
        }
    }

    .dismiss {
        color: $font-color;
    }
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin radio-checkbox-input($type, $radius) {
    display: block;
    position: relative;

    input[type=#{$type}] {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;
        z-index: 1;
        margin: 0;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;

        &:disabled {
            cursor: default;

            + label {
                filter: alpha(opacity=35);
                opacity: 0.35;
                cursor: default;
            }
        }

        &:checked + label::after {
            zoom: 1;
            filter: alpha(opacity=100);
            opacity: 1;
        }

        &:focus + label::before{
            @include outline;
        }
    }

    label {
        font-family: $fontFamily;
        font-size: $fontSizeDefault;
        font-weight: $fontWeightRegular;
        display: inline-block;
        position: relative;
        padding-left: 50px;
        margin: 0 0 20px;
        line-height: 2.4em;
        cursor: pointer;
        @include user-select(none);

        &::before {
            content: "";
            border: 2px solid;
            background: transparent;
            width: 34px;
            height: 34px;
            position: absolute;
            top: 0;
            left: 0;
            @include border-radius($radius);
        }

        &::after {
            content: "";
            border: 10px solid;
            width: 0;
            height: 0;
            position: absolute;
            top: 9px;
            left: 9px;
            @include border-radius($radius);
            zoom: 1;
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }
}