.ineligible-warning {
    .header {
        display: table;
        margin-bottom: 21px;

        > div {
            display: table-cell;
            vertical-align: middle;
            padding-right: 20px;
    
            @media #{$mobile} {
                padding-right: 10px;
            }

            i {
                padding: 3px 2px 0;
                border: 2px solid $primary;
                color: $primary;
                text-align: center;
                border-radius: 100%;
                font-size: 3em;
                width: 1em;
                height: 1em;
    
                @media #{$tablet} {
                    font-size: 5em;
                }
            }
        }

        > h1 {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .body {
        @extend .grid-66;
        @extend .mobile-grid-100;
    }
}