.success-page,
main #root.success-page {
    @include main-layout;
    padding-top: 20px;

    .header-container {
        background-color: $primary-light;
        margin: 0 0 26px 0;
        padding: 40px 20px 0 20px;
        text-align: center;

        .h2 {
            font-family: Source Sans Pro,sans-serif;
            font-size: 1.75em;
            font-weight: 600;
            line-height: 1em;
            padding-bottom: 30px;
            margin: 0;
        }

        .h3 {
            font-family: Source Sans Pro,sans-serif;
            font-size: 1.375em;
            font-weight: 600;
            line-height: 1em;
            padding-bottom: 30px;
            margin-bottom: 0;
        }

        h1 {
            margin-bottom: 0;
            padding-bottom: 30px;
            padding-top: 0;
            color: $white;
        }

        p {
            color: $white;
            margin-bottom: 0;
        }
    }

    .body-container {
        @extend .grid-75;
        @extend .mobile-grid-100;
        @extend .tablet-grid-100;

        padding: 0;

        ul > li {
            @media #{$mobile} {
                font-size: 1em;
            }
            font-size: 1.187em;
        }
    }

    @media #{$mobile} {
        padding-top: 10px;
    }
}

section.header-container {
    background-color: $primary-light;
    margin: 0 0 26px 0;
    padding: 40px 20px 0 20px;
    text-align: center;

    .h2 {
        font-family: Source Sans Pro,sans-serif;
        font-size: 1.75em;
        font-weight: 600;
        line-height: 1em;
        padding-bottom: 30px;
        margin: 0;
    }

    .h3 {
        font-family: Source Sans Pro,sans-serif;
        font-size: 1.375em;
        font-weight: 600;
        line-height: 1em;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 0;
        padding-bottom: 30px;
        padding-top: 0;
        color: $white;
    }

    p {
        color: $white;
        margin-bottom: 0;

        &:last-child {
            padding-bottom: 30px;
        }
    }
}