.system-failure {
    @include main-layout;
    text-align: center;
    // margin-bottom: 30px;

    .icon {
        color: $red;
        border: 3px solid $red;
        border-radius: 100%;
        padding: 15px;   
        width: 80px;
        margin-bottom: 20px;
        display: inline-block;
    }
}