@mixin alert {
    @include border-radius(5px);
    color: $white;
    background-color: $grey-dark;
    display: table;
    margin-bottom: 30px;

    > i {
        @include border-radius(5px 0 0 5px);
        display: table-cell;
        vertical-align: middle;
        font-size: 2.250em;
        padding: 15px 20px;
        background-color: $grey-darkest;
        color: rgba(255, 255, 255, 0.65);
    }

    > div {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 15px;

        h2,
        h3 {
            color: $white;
            margin-bottom: 10px;
            font-size: 1.375em;
        }

        p {
            margin-bottom: 0;
        }
    }

    > a {
        padding: 7px 7px 2px 5px;
        position: relative;
        top: 3px;
        right: 3px;
        color: $white;

        i {
            font-size: 1.500em;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: rgba(255, 255, 255, 0.15);
            @include border-radius(0);
        }
    }
}

.alert-warning {
    @include alert;
    @include alert-colours($orange, $grey-darkest);

    a:active,
    a:focus {
        outline-color: $soft-blue;
    }
}

.alert-information {
    @include alert;
    @include alert-colours($soft-blue, $white);
}

.alert-error {
    @include alert;
    @include alert-colours($red, $white);
}

.alert-success {
    @include alert;
    @include alert-colours($green, $white);
}

@mixin alert-fullwidth {
    width: 100%;
    border-radius: 0;
    position: relative;

    > i {
        font-size: 1.875em;
        color: rgba(255, 255, 255, 0.65);
        width: 25px;
        padding: 10px 15px;
    }

    > div {
        padding: 20px;

        p {
            margin-bottom: -6px;
        }
    }

    div:last-of-type {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 10px;
        padding-top: 20px;
        min-width: 50px;

        a {
            color: $white;
            border: 1px solid $white;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 50px;
            padding: 11px 11px 7px 12px;

            &:hover,
            &:focus,
            &:active {
                background-color: rgba(255, 255, 255, 0);
            }

            i {
                font-size: 1.5em;
            }
        }
    }
}

.alert-warning-fullwidth {
    @extend .alert-warning;
    @include alert-fullwidth;
}

.alert-information-fullwidth {
    @extend .alert-information;
    @include alert-fullwidth;
}

.alert-error-fullwidth {
    @extend .alert-error;
    @include alert-fullwidth;
}

.alert-success-fullwidth {
    @extend .alert-success;
    @include alert-fullwidth;
}

.alert-inline {
    background-color: $off-white;
    border-left: 5px solid $grey-lighter;
    padding: 20px;
    margin-bottom: 30px;
    @include border-radius(3px);

    h2 {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    p {
        margin-bottom: 0;
    }
}

@mixin alert-form {
    padding: 20px;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;

    i {
        font-size: 2em;
    }

    p {
        display: inline-block;
    }
}

.alert-form-information {
    @include alert-form;

    i {
        color: $soft-blue;
        margin-right: 10px;
        vertical-align: middle;
    }

    p {
        text-align: center;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.alert-form-warning {
    @include alert-form;

    p {
        padding-left: 12px; 
        vertical-align: middle;
    }

    i {
        color: $orange;
        vertical-align: text-bottom;
    }
}