article {
    padding: 30px 10px 0;

    ul {
        li {
            margin-left: 30px;
        }
    }
    
    @media #{$mobile} {
        padding-top: 30px;
    }

    &.with-aside {
        @extend .grid-70;
        @extend .tablet-grid-70;
        @extend .mobile-grid-100;
        padding-left: 55px;

        @media #{$mobile, $tablet} {
            padding-left: 10px;
        }

    }

    section.with-border-bottom {
        border-bottom: 1px solid $grey-light;
        margin-bottom: 20px;
    }
}