article {
    padding: 40px 20px 0;
    
    @media #{$mobile} {
        padding-top: 30px;
    }

    &.with-aside {
        @extend .grid-70;
        @extend .tablet-grid-70;
        @extend .mobile-grid-100;
    }

    section.with-border-bottom {
        border-bottom: 1px solid $grey-light;
        margin-bottom: 20px;
    }
}