.banner-section {
	@extend .full-width;

	padding: 50px 0;
	width: 100%;
	background-color: $off-white;
	padding: 25px 0;

	@media #{$mobile} {
		width: auto;
		margin: 0 10px;;
	}
}

.image-test {
	font-size: 5000px;
}

a.banner {
    &:before {
        @include chevron(10px, 60px);
		color: $primary-darkest;
		text-align: center;
	}
	
	@media #{$mobile} {
		&:before {
			@include chevron(10px, 20px);
		}
	}
}

.banner,
.banner-no-icon {
	position: relative;
	min-height: 140px;
	display: flex;
	@include border-radius(3px);
	@include box-shadow(0 10px 14px 0 $dark-border);
	margin: 20px auto;
	text-decoration: none;

	@media #{$mobile} {
		min-height: 60px;
	}

	div:first-child {
		display: flex;
		justify-content: center;
		flex-direction: column;
		border-radius: 3px 0 0 3px;
	}

	div:last-child {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.banner {
	background-color: $white;

	> div:first-child {
		width: 140px;
		background-color: $soft-blue;
		text-align: center;

		@media #{$mobile} {
			width: 60px;
		}

		span {
			color: $white;
			font-size: 80px;

			@media #{$mobile} {
				font-size: 35px;
			}
		}
	}

	> div:last-child {
		padding: 0 30px;
		flex-grow: 1;

		p, 
		h2, 
		h3 {
			margin: 0;
		}

		h2 {
			line-height: 2.5em;

			@media #{$mobile} {
				padding-top: 10px;
				line-height: 1.25em;
			}
		}

		p {
			color: $primary-darkest;
			
			@media #{$mobile} {
				display: none;
			}
		}

		form {
			padding-left: 0;
			display: flex;
			align-items: flex-start;

			input {
				width: 100%;
				padding-right: 20px;
				margin: 0 20px 0 0;
				height: 47px;
			}

			@media #{$mobile} {
				flex-direction: column;

				input {
					margin: 10px 0 15px 0;
				}
			}

			.button-primary {
				@extend .grid-30;

				@media #{$tablet} {
					min-width: 30%;
				}
			}
		}
	}
}

.banner-no-icon {
	background-color: $primary;

	div:first-child {
		width: 90%;
		background-color: $primary;

		p,
		h2 {
			color: $white;
		}

		p {
			padding: 0 150px 30px 30px;
		}

		h2 {
			padding: 30px 150px 0 30px;
		}

		@media #{$mobile} {
			p {
				padding: 0 20px 20px 20px;
			}

			h2 {
				padding: 15px 20px 0 20px;
				margin-bottom: 5px;
			}
		}
	}

	div:last-child {
		width: 10%;
		min-width: 50px;		
		background-color: $other-social-media;
		text-align: center;
		color: $white;
		font-size: 60px;
		font-weight: lighter;
		border-radius: 0 3px 3px 0;
	}
}

a.banner,
a.banner-no-icon {
	@include transition-property(box-shadow);

	&:hover {
		@include box-shadow(0 20px 40px 0 $box-shadow-hover);
	}
}
