a.banner {
    &:before {
        @include chevron(10px, 60px);
        color: $primary-darkest;
    }
}

.banner {
	position: relative;
	min-height: 140px;
	display: flex;
	background-color: $white;
	@include border-radius(3px);
	@include box-shadow(0 10px 14px 0 $dark-border);
	margin: 20px auto;
	text-decoration: none;

	> div:first-child {
		width: 140px;
		background-color: $soft-blue;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		border-radius: 3px 0 0 3px;

		span {
			color: $white;
			font-size: 80px;
		}
	}

	@media #{$mobile, $tablet} {
		> div:first-child {
			display: none;
		}
	}

	> div:last-child {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0 30px;
		flex-grow: 1;

		h2 {
			margin: 0;
			line-height: 2.5em;

			@media #{$mobile} {
				padding-top: 15px;
				line-height: 1.111em;
			}
		}

		p {
            color: $primary-darkest;
			margin-bottom: 0;
			line-height: 2.5em;
		}

		form {
			padding-left: 0;
			display: flex;
			align-items: flex-start;

			input {
				width: 100%;
				padding-right: 20px;
				margin: 0 20px 0 0;
				height: 47px;
			}

			@media #{$mobile} {
				flex-direction: column;

				input {
					margin: 10px 0 15px 0;
				}
			}

			.button-primary {
				@extend .grid-30;

				@media #{$tablet} {
					min-width: 30%;
				}
			}
		}
	}
}
