button {
    &:active,
    &:focus {
        @include outline;
    }

    &::-moz-focus-inner {
        border: none;
    }
}

.button {
    border: 1px solid $dark-border;
    color: $white;
    display: inline-block;
    font-family: 'Source Sans Pro';
    font-size: 1.25em;
    line-height: normal;
    font-weight: $fontWeightBold;
    text-align: center;
    text-decoration: none;
    padding: 10px 45px 10px 35px;
    position: relative;
    @include border-radius(3px);
    @include box-shadow(0 10px 14px 0 $dark-border);

    i {
        top: 50%;
        float: left;
    }

    &:before {
        @include chevron(10px);
    }

    &:hover {
        @include transition-box-shadow(0 20px 40px 0 rgba(0,0,0,0.3));
    }

    &:active,
    &:focus {
        @include border-radius(0);
    }

    @media #{$mobile} {
        width: 100%;
        margin-right: 0;
    }

    &:disabled,
    &:disabled:hover {
        background-color: transparentize($teal-darker, 0.65);  
        @include transition-box-shadow(0 0 0 0 rgba(0,0,0,0.3));
        cursor: default;
    }
}

a.button {
    @media #{$mobile} {
        padding: 10px 0;
    }
}

.button-primary {
    @extend .button;
    @include button-colors($teal-darker, $white);
}

.button-login {
    @extend .button;
    @include button-colors($green, $white);
}

.button-secondary {
    @extend .button;
    @include button-colors($grey-dark, $white);
}

.button-tertiary {
    @extend .button;
    @include button-colors(transparent, $white);
    border: solid 1px $white;
}

.button-inverted {
    @extend .button;
    @include button-colors($white, $grey-darkest);
    border: solid 1px $grey-middle;
}

.button-disabled {
    @extend .button;
    @include button-colors($grey-lightest, $white);
    @include box-shadow(none);

    &:hover,
    &:focus,
    &:active {
        cursor: default;
        background-color: #e1e1e1;
        @include box-shadow(none);
    }
}

.button-loading {
    transition: color .2s;
    transition-property: color, background-color;
    color: $grey-lighter;
    background-color: $grey-middle;
    cursor: default;

    &:after {
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        content: "\f1ce";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-align: center;
        height: 30px;
        width: 30px;
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
        @include animation(load 1s ease-in-out infinite);
    }

    &:before {
        display: none;
    }

    &:hover,
    &:focus {
        color: $grey-lighter;
        background-color: $grey-middle;
        @include box-shadow(0 8px 20px 0 rgba(0,0,0,.1));
        cursor: default;
    }
}

.button-back {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

a.anchor-with-icon {
    display: table;
    vertical-align: middle;
    margin-bottom: 30px;

    i {
        padding-right: 10px;
        vertical-align: middle;
        margin-top: -2px;
        @include button-colors($white, $primary);
    }
}

a.anchor-as-block { 
    display: block;
}


@include keyframes(load) {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
