button {
    &::-moz-focus-inner {
        border: none;
    }
}

.button {
    border: 1px solid $dark-border;
    color: $white;
    display: block;
    font-family: 'Source Sans Pro';
    font-size: 1.25em;
    line-height: normal;
    margin: 0 20px 30px 0;
    font-weight: $fontWeightBold;
    text-align: center;
    text-decoration: none;
    padding: 10px 45px 10px 35px;
    position: relative;
    @include border-radius(3px);
    @include box-shadow(0 10px 14px 0 $dark-border);

    i {
        top: 50%;
        float: left;
    }

    &:before {
        @include chevron(10px, 20px);
    }

    &.left-chevron {
        &:before {
            @include left-chevron(10px, 20px);
        }
    }

    &:hover {
        @include transition-box-shadow(0 20px 40px 0 rgba(0,0,0,0.3));
    }

    &:active,
    &:focus {
        @include border-radius(0);
        @include outline;
    }

    &:disabled {
        background-color: transparentize($teal-darker, 0.65);
        @include box-shadow(none);
        cursor: default;

        &:hover {
            background-color: transparentize($teal-darker, 0.65);
            @include transition-box-shadow(none);
            cursor: default;
        }
    }

    &::-moz-focus-inner {
        border: none;
    }

    @media #{$mobile} {
        width: 100%;
        margin-right: 0;
    }
}

p + .button {
    margin-top: 20px;
}


form .button {
    margin-bottom: 20px;
}

a.button {
    display: inline-block;

    @media #{$mobile} {
        box-sizing: border-box;
    }
}

.button-primary {
    @extend .button;
    @include button-colors($teal-darker, $white);
}


.button-primary-white {
    @extend .button;
    @include button-colors($white, $teal-darker);

    width: 100%;
    color: $teal-darker;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightSemiBold;
    margin-bottom: 0;
    box-shadow: 0 4px 0 0 $primary-darker;
    border: none;

    &:before {
        display: none;
    }

    &:hover {
        box-shadow: 0 4px 0 0 $primary-darker;
        color: $primary;
        background-color: $off-white;
    }

    &:active,
    &:focus {
        color: $primary;
        background-color: $off-white;
        box-shadow: none;
        transform: translateY(2px);
    }
}

.button-login {
    @extend .button;
    @include button-colors($green, $white);
}

.button-secondary {
    @extend .button;
    @include button-colors($grey-dark, $white);

    &:disabled,
    &:disabled:hover {
        background-color: $grey-lighter;
        @include transition-box-shadow(0 0 0 0 rgba(0,0,0,0.3));
        cursor: default;
    }
}

.button-tertiary {
    @extend .button;
    @include button-colors(transparent, $white);
    border: solid 1px $white;
}
 
.button-inverted {
    @extend .button;
    @include button-colors($white, $grey-darkest);
    border: solid 1px $grey-middle;

    &:disabled,
    &:disabled:hover {
        background-color: transparent;
        border-color: $grey-lighter;
        color: $grey-lighter;
    }

    &.button-loading:after {
        color: $grey-dark;
    }
}

.button-radio-list {
    @extend .button;
    @include button-colors($white, $grey-dark);
    @include transition-box-shadow(none);
    font-weight: $fontWeightRegular;
    border: solid 1px $soft-blue;
    border-radius: 0;
}

.button-icon-inverted {
    @extend .button-inverted;
    padding: 20px 45px;
    line-height: 0;

    @media #{$desktop, $tablet} {
        padding: 10px 45px;
        line-height: normal;
        max-width: 23%;
    }

    display: inline-block;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightBold;

    > span {
        &:first-child {
            font-size: $fontSizeLarge;
            color: $other-social-media;
            position: absolute;
            left: 0;
            margin-left: 20px;
            top: calc(50% - ( 1.263em / 2));
            margin-top: 3px;
        }

        &:last-child {
            margin: auto;
        }

        &[class*="facebook"] {
            color: $facebook;
        }

        &[class*="twitter"] {
            color: $twitter;
        }

        &[class*="instagram"] {
            color: $instagram;
        }

        &[class*="youtube"] {
            color: $youtube;
        }
    }
}

.button-selected {
    @extend .button;
    @include button-colors($soft-blue, $white);
}

.button-disabled {
    @extend .button;
    @include button-colors($grey-lightest, $white);
    @include box-shadow(none);

    &:hover,
    &:focus,
    &:active {
        cursor: default;
        background-color: #e1e1e1;
        @include box-shadow(none);
    }
}

.button-underlined {
    @extend .button;
    @include button-colors(transparent, $white);
    @include border-radius(0);
    border: none;
    text-decoration: underline;
    text-align: left;
    box-shadow: none;
    padding: 0;

    &:before {
        content: '';
    }

    &:hover {
        box-shadow: none;
    }

    @media #{$mobile} {
        width: auto;
    }
}

.button-loading {
    transition: color .2s;
    transition-property: color, background-color;
    color: $grey-lighter;
    background-color: $grey-middle;
    cursor: default;

    &:after {
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        content: "\f1ce";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-align: center;
        height: 30px;
        width: 30px;
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
        @include animation(load 1s ease-in-out infinite);
    }

    &:before {
        display: none;
    }

    &:hover,
    &:focus {
        color: $grey-lighter;
        background-color: $grey-middle;
        @include box-shadow(0 8px 20px 0 rgba(0,0,0,.1));
        cursor: default;
    }
}

.button-back {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-warning {
    @extend .button;
    @include button-colors($orange, $white);

    a:active,
    a:focus {
        outline-color: $soft-blue;
    }
}

.button-danger {
    @extend .button;
    @include button-colors($red, $white);
}

a.anchor-with-icon {
    display: table;
    vertical-align: middle;
    margin-bottom: 30px;

    i,
    span {
        padding-right: 10px;
        vertical-align: middle;
        margin-top: -2px;
        @include button-colors($white, $primary);
    }
}

a.anchor-as-block {
    // If you are reading this you might think: this is ridiculous.
    // However, the block value sets the element width to 100%. Using table we get it displayed as a block with the width related to its content. This allows to mimic the button tag behavior.
    display: table;
}


@include keyframes(load) {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
