.call-to-action-banner-container {
    @include flex(row);
    height: 313px;
    text-decoration: none;

    > * {
        @include flex-row(2, 0);
    }

    img {
        width: 713px;
        flex-grow: 0; 
    }

    > div {
        background-image: linear-gradient($primary, $teal-darker);
    }
}