.card-list-container {	
	h1.card-list-header {
		color: $white;
		word-wrap: break-word;
		margin: 20px 0;

		@media #{$desktop, $tablet} {
			width: 50%;
		}
	}

	.read-more {
		position: absolute;
		top: 0;
		right: 10px;
	}

	.read-more-mobile {
		@include button-inverted($white, $teal-darker, $teal-darker);
	}

	.card-list-body {
		@include flex(row);

		li {
			&:first-child {
				a > i {
					color: $purple;
				}
			}

			&:last-child {
				a > i {
					color: $primary-light;
				}
			}

			&:nth-child(2) {
				a > i {
					color: $soft-blue;
				}
			}
		}

		@media #{$desktop, $tablet} {
			> li {
				@include flex-row(3, 1.5%);
				display: block;
				height: 328px;
				
				&.full-height {
					height: 100%;
				}

				
				&.featured-item-card {
					height: 399px;
				}

				> a {
					background-color: $white;
					display: block;
					height: 100%;
					border-radius: 3px;
					text-decoration: none;
					text-align: center;

					&.icon-card {
						padding: 60px 15px 0 15px;

						> i {
							display: block;
							padding: 15px 0;
							font-size: 5em;
						}

						> p {
							padding: 0 10px 10px 10px;
							font-size: $fontSizeSmall;
							color: $grey-darkest;
							line-height: 2em;
						}

						> h3 {
							padding: 0 10px 10px 10px;
							margin: 0;
							color: $grey-darkest;
						}
					}

					&.image-card {
						text-align: left;
						transition: box-shadow .5s;

						&:hover {
							box-shadow: 0 10px 20px rgba(0,0,0,.2); 
						}

						img {
							width: 100%;
							height: 233px;
							border-radius: 5px 5px 0 0;
						}

						h3 {
							padding: 20px;
							margin: 0;
						}

						> p {
							padding: 0 20px 15px 20px;
							margin: 0;
							color: $primary-text;

							> i {
								width: 10%;
							}
						}
					}
				}
			}
		}

		@media #{$mobile} {
			@include flex(column);
			margin-bottom: 5%;

			> li {
				@include flex-column(1.5%);
				height: 100%;
				display: block;

				&.thin-card {
					min-height: 85px;
					height: 85px;
				}

				> a {
					background-color: $white;
					display: block;
					height: 100%;
					border-radius: 3px;
					text-decoration: none;
					align-items: center;
					@include flex(row);

					&.icon-card {
						> * {
							@include flex-row(2, 2%);
						}

						> i {
							font-size: 3em;
							flex-grow: 0;
							padding-left: 30px;
						}

						> p {
							display: none;
						}

						> h3 {
							padding: 0 10px;
							color: $grey-darkest;
						}

						&:after {
							margin-right: 20px;
							content: "\f105";
							text-align: right;
							float: right;
							font: bold normal normal 20px/1 FontAwesome;
							display: flex;
							justify-content: left;
							align-items: center;
							height: 100%;
							color: #333;
						}
					}

					&.image-card {
						display: block;
						text-align: left;
						transition: box-shadow .5s;

						&:hover {
							box-shadow: 0 10px 20px rgba(0,0,0,.2); 
						}

						img {
							width: 100%;
							height: 233px;
							border-radius: 5px 5px 0 0;
						}

						h3 {
							padding: 20px;
							margin: 0;
						}

						> p {
							padding: 0 20px 15px 20px;
							margin: 0;
							color: $primary-text;

							> i {
								width: 10%;
							}
						}
					}
				}
			}
		}
	}
}
