.card-list-container {	
	h1.card-list-header {
		color: $white;
		word-wrap: break-word;
		margin: 20px 0;

		@media #{$desktop} {
			width: 50%;
		}
	}

	.card-list-body {
		@include flex(row);

		li {
			&:first-child {
				a > i {
					color: $purple;
				}
			}

			&:last-child {
				a > i {
					color: $primary-light;
				}
			}

			&:nth-child(2) {
				a > i {
					color: $soft-blue;
				}
			}
		}

		@media #{$desktop} {
			> li {
				@include flex-row(3, 1.5%);
				display: block;
				height: 328px;

				
				&.featured-item-card {
					height: 399px;
				}

				> a {
					background-color: $white;
					display: block;
					height: 100%;
					border-radius: 3px;
					text-decoration: none;
					text-align: center;

					&.icon-card {
						padding: 60px 15px 0 15px;

						> i {
							display: block;
							padding: 15px 0;
							font-size: 5em;
						}

						> p {
							padding: 0 10px 10px 10px;
							font-size: $fontSizeSmall;
							color: $grey-darkest;
							line-height: 2em;
						}

						> h3 {
							padding: 0 10px 10px 10px;
							margin: 0;
							color: $grey-darkest;
						}
					}
				}
			}
		}

		@media #{$mobile, $tablet} {
			@include flex(column);
			margin-bottom: 5%;

			> li {
				@include flex-column(1.5%);
				min-height: 85px;
				height: 85px;
				display: block;

				> a {
					background-color: $white;
					display: block;
					height: 100%;
					border-radius: 3px;
					text-decoration: none;
					align-items: center;
					@include flex(row);

					&.icon-card {
						> * {
							@include flex-row(2, 2%);
						}

						> i {
							font-size: 3em;
							flex-grow: 0;
							padding-left: 30px;
						}

						> p {
							display: none;
						}

						> h3 {
							padding: 0 10px;
							color: $grey-darkest;
						}

						&:after {
							margin-right: 20px;
							content: "\f105";
							text-align: right;
							float: right;
							font: bold normal normal 20px/1 FontAwesome;
							display: flex;
							justify-content: left;
							align-items: center;
							height: 100%;
							color: #333;
						}
					}
				}
			}
		}
	}
}
