.comms-homepage {
    @extend .center-wrapper;
    width: 100%;

    .comms-homepage-header {
        color: $primary;
        margin: 0 0 40px 0;
    }

	h2 {
		color: $grey-darkest;
		padding-left: 0;
	}

    .with-aside {
        padding: 40px 20px 0 0;
    }

    @media #{$desktop} {
        .article-aside {
            padding: 40px 0 0 20px;
        }

		.useful-links {
			a {
				font-weight: $fontWeightSemiBold;
                text-decoration: none;
                
                &:hover {
                    color: $grey-darkest;
                    text-decoration: underline;

                    > li:before {
                        text-decoration: none;
                    }
                }

				> li {
					list-style: none;
					margin-left: 0;
					padding-left: 1.2em;

					&:before {
						content: "---";
						display: inline-block;
						letter-spacing: -3px;
						width: 1.2em;
                        margin-left: -1.2em;
					}
				}
			}
		}
	}
}

.latest-news {
    .h2 {
        color: $teal-dark;
    }

    .latest-news-header {
        margin: 0 0 15px 0;
    }

    .latest-news-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 4px solid $grey-darkest;
        margin: 0 0 15px 0;

        .latest-news-details-date {
            line-height: 1.5em;
            margin: 5px 0;
        }
    }

    .latest-news-anchor {
        color: black;
        text-decoration: none;
    }
}
