.comms-homepage {
	@extend .center-wrapper;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	@media #{$mobile} {
		box-sizing: border-box;
		width: 100%;
	}

	.comms-homepage-header {
		color: $primary;
		margin: 40px 0;
		width: 100%;

		@media #{$mobile} {
			margin: 20px 0;
		}
	}

	.call-to-action-banner-container {
		margin-bottom: 24px;

		@media #{$tablet, $desktop} {
			margin-bottom: 32px
		}
	}

	.with-aside {
		padding: 0 60px 0 0;
		width: 50%;

		@media #{$tablet} {
			padding: 0 40px 0 0;
		}

		@media #{$mobile} {
			padding: 0;
		}
	}

	h2 {
		color: $grey-darkest;
		padding-left: 0;
	}

	.article-aside {
		padding: 0;

		@media #{$desktop}, #{$tablet} {
			margin: 55px 0 0 0;
			width: 30%;
			min-width: 281px;
		}

		&:last-child {
			margin-bottom: 1.5em;
		}

		h2 {
			padding: 0;

			&:before {
				content: "";
				display: block;
				margin: 1.5em 0 0.5em;
				border-top: solid 2px $grey-darkest;

				@media #{$mobile} {
					margin-top: 1.8em;
				}
			}
		}

		.h3 {
			margin-bottom: 16px;
		}

		.event-item {
			height: auto;
			margin-left: 0;
			margin-bottom: 10px;

			img {
				height: auto;
			}
		}

		.useful-links {
			a {
				font-weight: 400;
				text-decoration: none;
				color: $teal-darker;

				&:hover {
					color: $grey-darkest;
					text-decoration: underline;

					> li:before {
						text-decoration: none;
						border-top: solid 2px $grey-darkest;
					}
                }
                
                &:last-of-type > li {
                    margin-bottom: 0;
                }

				> li {
					list-style: none;
					position: relative;
					margin: 0 0 15px 0;

					@media #{$mobile} {
						margin: 0 0 10px 0;
					}

					&:before {
						content: "";
						display: inline-block;
						width: 15px;
						top: -5px;
						margin-right: 10px;
						position: relative;
						border-top: solid 2px $teal-darker;
					}
				}
			}
		}
	}

	.call-to-action-banner-container {
		width: 100%;
	}
}

.latest-news {
	.h2 {
		color: $teal-dark;
	}

	.latest-news-header {
		margin: 0 0 15px 0;
		height: 40px;
	}

	.latest-news-details {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 4px solid $grey-darkest;
		margin: 0 0 15px 0;
		max-height: 30px;

		.latest-news-details-date {
			line-height: 1.5em;
		}

		// IE11 and some Android browsers fix
		.status-news {
			border-bottom: 2px solid $grey-darkest;
		}
	}

	.latest-news-anchor {
		color: black;
		text-decoration: none;
		margin-bottom: 24px;
		display: block;
	}

	.button-inverted {
		margin-bottom: 40px;
	}
}

.iframe-container {
	border: 4px $grey-lightest solid;
	padding: 0 10px 0 10px;
	margin-bottom: 40px;
	max-width: 500px;

	&:last-of-type {
		margin-bottom: 64px;
		
		@media #{$mobile} {
			margin-bottom: 32px;
		}
	}
}

iframe.instagram {
    width: 100%;
    height: 700px;
    border: none;

    @media #{$mobile} {
        height: 530px;
    }

    @media #{$tablet} {       
        height: 600px;
    }    
}

.view-more-news {
	color: #055c58;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	
	&:hover {
		color: $grey-darkest;
		text-decoration: underline;
	}
}

span {
	margin-left: 8px;
}