.email-alert {
    flex-direction: row !important;
    align-items: center;

    @media #{$mobile} {
        flex-direction: column !important;
    }    

    h2 {
        flex: none;
        width: 80%;
        margin: 10px 0 10px 0 !important;
        text-align: center;
        line-height: initial !important;

        @media #{$mobile} {           
            width: 95%;
            height: initial;
            line-height: 1.2em !important;
        }

        @media #{$tablet} {
            width: initial;
            height: initial;
        }
    }

    form {
        align-items: center !important;

        @media #{$tablet} {
            flex-direction: column !important;
        }

        button {
            width: 18rem;
            margin-top: 10px !important;
            margin: inherit;            

            @media #{$mobile} {
                margin: 5px 0 15px 0 !important;
                width: 100%;
            }

            @media #{$tablet} {
                margin: 5px 0 15px 0 !important;
            }
        }
    }
}
