.email-alert {
    flex-direction: row !important;
    align-items: center;

    @media #{$mobile} {
        flex-direction: column !important;
    }    

    h2 {
        flex: none;
        padding-right: 85px;

        @media #{$mobile} {
            padding: 10px;
            text-align: center;
        }

        @media #{$tablet} {
            padding: 0 0 10px 0;
        }
    }

    form {

        @media #{$tablet} {
            flex-direction: column !important;
            align-items: center !important;
        }

        button {
            width: 18rem;
            margin: inherit;            

            @media #{$mobile} {
                margin: 5px 0 15px 0;
                width: 100%;
            }
        }
    }
}
