body > footer,
#root > footer { // sass-lint:disable-line no-ids (#root needed for React)
    border-top: 10px solid $teal;
    background-color: $primary-dark;

    #footer-logo { // sass-lint:disable-line no-ids (id needed for specific identifier as component is not reusable)
        @extend .grid-33;
        @extend .tablet-grid-35;
        @extend .mobile-grid-100;
        padding: 10px 0;
        @include header-footer-logo;

        @media #{$mobile} {
            padding-left: 25px;
        }
    }

    .footer-links {
        @extend .grid-33;
        @extend .tablet-grid-45;
        list-style: none;
        display: inline;
        padding: 20px 0 20px;

        li {
            float: left;
            width: 50%;

            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .social-links {
        @extend .grid-33;
        @extend .tablet-grid-20;
        @extend .hide-on-mobile;
        list-style: none;
        text-align: right;
        padding: 0;

        li {
            display: inline-block;
            border: 1px solid $grey-middle;
            margin: 5px;
            text-align: right;
            @include border-radius(50%);

            &:hover {
                border-color: $white;
            }

            &:last-of-type {
                margin-right: 0;
            }

            a {
                display: table-cell;
                vertical-align: middle; 
                text-align: center;
                height: 60px;
                width: 60px;
                color: $white;

                i {
                    font-size: $fontSizeLarger;
                    position: relative;
                    top: 5px;
                }
            }
        }
    }

    .mobile-social-links {
        @extend .hide-on-desktop;
        @extend .hide-on-tablet;
        @extend .mobile-grid-100;
        list-style: none;
        padding: 0;
        background-color: $teal;

        li {
            float: left;
            width: 25%;

            a {
                border-right: 1px solid rgba(255, 255, 255, 0.5);
                display: block;
                text-align: center;
                padding: 22px 0;
                color: $white;

                i {
                    font-size: 2.250em;
                    position: relative;
                    top: 5px;
                }
            }

            .facebook:hover,
            .facebook:active,
            .facebook:focus {
                background-color: $facebook;
            }

            .twitter:hover,
            .twitter:active,
            .twitter:focus {
                background-color: $twitter;
            }

            .youtube:hover,
            .youtube:active,
            .youtube:focus {
                background-color: $youtube;
            }

            .instagram:hover,
            .instagram:active,
            .instagram:focus {
                background-color: $instagram;
            }
        }
    }

    .footer-logo-links {
        border-top: 2px solid rgba(7,40,38,.5);
        padding: 30px 0;

        > div {
            margin-right: 25px;

            > img {
                min-width: 225px;
                max-width: 20%;
            }

        }
    }

    .footer-logo-links {
        border-top: 2px solid rgba(7,40,38,.5);
        padding: 30px 0;

        @media #{$mobile} {
            padding: 0 10px;
        }

        > div {

            @media #{$tablet} {
                display: inline-block;
                min-width: 225px;
                max-width: 15%;
                vertical-align: top;
            }

            @media #{$mobile} {
                margin-right: unset;
                margin-bottom: 25px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            margin-right: 25px;

            > img {
                min-width: 225px;
                max-width: 20%;
            }

            
        }
    }

    .footer-copyright {
        color: $white;
        background-color: $primary-darkest;
        padding: 5px 0 0;
        text-align: right;

        p {
            @extend .grid-50;
            @extend .mobile-grid-100;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        a {
            @extend .mobile-grid-100;
            display: inline-block;
            text-align: right;
            padding: 0;
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media #{$mobile} {
        border-top: none;
        padding-top: 0;

        .footer-links {
            width: 200px;
            margin-left: 25px;
            display: block;

            li {
                float: none;
                width: 100%;

                a {
                    font-size: $fontSizeSmall;
                }
            }
        }

        .footer-copyright .center-wrapper {
            text-align: center;
        }

        .footer-copyright p {
            text-align: center;
        }

        .footer-copyright a {
            display: inline;
            font-size: 0.900em;
        }
    }

    .atoz {
        background-color: $primary;
        text-align: center;
        padding-bottom: 20px;

        @media #{$tablet, $desktop} {
            border-bottom: 6px solid $teal;
        }

        h2 {
            color: $white;
            padding-top: 5px;
            margin-bottom: 30px;
            margin-top: 0;
            font-family: $font-family-headings;
        }

        .alphabet {
            max-width: 790px;
            display: inline-block;

            .letter {
                display: inline-block;
                padding-bottom: 15px;
                padding-right: 5px;
                padding-left: 5px;

                .letter-bordered {
                    display: inline-block;
                    border: 1px solid rgba(255,255,255,0.5);
                    border-radius: 100%;
                    padding: 10px;
                    width: 23px;
                    height: 23px;
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    font-size: 23px;
                    line-height: 1em;

                    &:hover, 
                    &:focus {
                        border: 1px solid $white;
                        text-decoration: none;
                    }

                    a:hover, 
                    a:focus {
                        text-decoration: underline;
                    }
                }
            }

            .letter.active a {
                background-color: $white;
                color: $primary;
            }
        }
    }

    .no-bottom-atoz .atoz {
        border-bottom: none;
    }
}