body > header,
#root > header { // sass-lint:disable-line no-ids (#root needed for React)
    background-color: $primary;
    width: 100%;

    #header-logo { // sass-lint:disable-line no-ids (id needed for specific identifier as component is not reusable)
        @extend .grid-50;
        @extend .tablet-grid-50;
        @extend .mobile-grid-50;
        height: 80px;
        @include header-footer-logo;

        @media #{$mobile} {
            height: 60px;
        }
    }

    #header-my-account { // sass-lint:disable-line no-ids (id needed for specific identifier as component is not reusable)
        @extend .grid-25;
        @extend .tablet-grid-25;
        @extend .mobile-grid-50;
        text-align: right;
        padding: 24px 12px;
        
        @media #{$mobile} {
            padding: 14px 15px;
        }

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;

                i {
                    color: $white;
                }
            }

            i {
                color: $primary-pale;
                padding-right: 10px;
            }
        }
    }

    #cludo-search-form, // sass-lint:disable-line no-ids (Needed to select 3rd Party element, CludoSearch)
    form {
        @extend .grid-25;
        @extend .tablet-grid-25;
        @extend .hide-on-mobile;
        padding: 13px 15px 12px;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;

        .search-input,
        input {
            @include border-radius(3px);
            font-size: $fontSizeDefault;
            padding: 15px 45px 15px 10px;
            width: 100%;
            margin-bottom: 0;
            background-color: $white;
            color: $grey-darkest;
            border: 1px solid $grey-middle;
            line-height: 1.35em;
            height: 55px;

            &:active,
            &:focus {
                @include outline;
                border: 1px solid transparent !important; // sass-lint:disable-line no-important because CludoSearch is an arse!
                border-radius: 0;
            }
        }

        .search-button,
        button {
            background: none;
            border: none;
            font-size: 1.375em;
            position: absolute;
            right: 15px;
            top: 14px;
            height: 53px;
            width: 55px;
            margin: 0;
            text-indent: 6px;

            &:active,
            &:focus {
                @include outline;
                border: none !important; // sass-lint:disable-line no-important because CludoSearch is an arse!
                transition: none;
            }

            &:active,
            &:hover {
                border: none !important; // sass-lint:disable-line no-important because CludoSearch is an arse!
                color: $grey-dark;
                cursor: pointer;
                transition: none;
            }
        }
    }

    nav {
        background-color: $primary-dark;

        ul {
            @extend .grid-container;
            padding-bottom: 4px;
            margin: 0 auto;
            color: $white;

            li {
                display: inline;

                &:after {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: '\f105';
                    padding: 0 10px 0 15px;
                    color: $grey-middle;
                }

                &:last-of-type:after {
                    content: none;
                }

                a {
                    color: $white;
                }
            }
        }
    }

    .breadcrumb {
        background-color: $primary-darker;
        border-bottom: $teal solid 5px;
    }

    .banner-header {
        @extend .grid-100, .mobile-grid-100, .tablet-grid-100;
        background-color: $primary-darkest;
        color: $white;
        font-family: $font-family-headings;
        line-height: 1.5em;
        padding: 10px 0;

        span {
            background-color: $orange; 
            @include border-radius(4px);
            font-size: $fontSizeSmall;
            font-weight: $fontWeightBold;
            margin-right: 15px; 
            padding: 5px 12px; 
        }

        a {
            color: $white;
        }
    }
}

.title-container {
    background-color: $teal-darker;
    margin: 0 0 20px 0;
    padding: 20px;
}

.header-container { 
    background-color: $primary-light;
    margin: 0 0 26px 0;
    padding: 40px 20px 0 20px;
    text-align: center;

    .h2 {
        font-family: Source Sans Pro,sans-serif;
        font-size: 1.75em;
        font-weight: 600;
        line-height: 1em;
        padding-bottom: 30px;
        margin: 0;
    }

    .h3 {
        font-family: Source Sans Pro,sans-serif;
        font-size: 1.375em;
        font-weight: 600;
        line-height: 1em;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    h1 { 
        margin-bottom: 0;
        padding-bottom: 30px;
        padding-top: 0;
        color: $white;
    }

    p {
        color: $white;
        margin-bottom: 0;
    }
}

.title {
    max-width: 1200px;
    margin: 0 auto;
    font-family: $font-family-headings;
    font-weight: $fontWeightBold;

    h1 {
        color: $white;
        font-size: 2.750em;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0;
        color: $white;
        font-size: $fontSizeLarger;
    }
}

.page-content {
    @media #{$tablet}, #{$desktop} {
        margin-left: 20px;
        margin-right: 20px;
    }

    p {
        padding-left: 0;
        padding-right: 0;
    }

    div {
        padding-left: 0;
        padding-right: 0;
    }

    div.promotion-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}