.information-list {
  padding-left: 0;
  margin: 30px 0;

  li {
    margin-left: 0;

    .icon-column {
      @extend .grid-5;
    }

    .text-column {
      @extend .grid-95;
    }

    > div {
      padding-left: 0;
    }
  }

  &.information-list-key-facts {
    li {
      border-bottom: 1px solid $grey-light;
      margin-bottom: 26px;

      &:last-of-type {
        border-bottom: none;
      }

      .fa {
        color: $primary;
      }
    }
  }

  [class^="grid-5"] {
    padding-left: 0;
  }

  [class^="si-"],
  [class*="si-"],
  [class*="fa-"] {
    vertical-align: text-top;
    font-size: 28px;
  }

  li {
    list-style: none;
    display: flex;
  }

  a {
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .information-item {
    color: $black;

    &:hover {
      .information-item-link {
        text-decoration: underline;
      }
    }

    .information-item-link {
      color: $primary;
    }
  }

  &.showcase {
    li {
      .icon-column {
        @extend .grid-10; 
      }

      .text-column {
        @extend .grid-90;
        color: $black;
      }

      p {
        margin-bottom: 0;
      }     
    }

    @media #{$tablet, $desktop} {
      li {
        width: 50%;
        box-sizing: border-box;

        &:nth-child(odd) {
          padding-right: 20px;
        }

        &:nth-child(even) {
          padding-left: 20px;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
