.inline-navigation {
    list-style: none;

    li {
        float: left;
        width: 20%;
        text-align: center;
        margin-left: -1px;
        margin-bottom: 40px;
        border-right: 1px solid $grey-light;

        &:nth-child(5n) {
            border-right: none;
        }

        a {
            color: $grey-darkest;
            font-family: $font-family-headings;
            font-weight: $fontWeightBold;
            font-size: $fontSizeLarge;
            text-decoration: none;
            display: block;

            &:hover span,
            &:active span,
            &:focus span {
                text-decoration: none;
            }

            i {
                display: block;
                color: $primary;
                font-size: 2.250em;
            }

            span {
                text-decoration: underline;
                display: block;
            }
        }
    }

    @media #{$mobile} {
        li {
            width: 50%;

            &:nth-child(5n) {
                border-right: 1px solid $grey-light;
            }

            &:nth-child(2n) {
                border-right: none;
            }
        }
    }
}