form {
    margin: 0;
    width: 100%;

    fieldset {
        border: none;
        padding: 0;
        width: 100%;
        position: relative;

        legend {
            padding: 0;
        }

        .input-radio-container {
            @include radio-checkbox-input("radio", 50%);
    
            label::after {
                content: "";
                border: 10px solid;
                left: 9px;
                @include border-radius(50%);
                margin-top: -10px;
            }
        }
    
        .input-checkbox-container {
            @include radio-checkbox-input("checkbox", 0%);
    
            label::after {
                content: "\f00c";
                border: none;
                left: 7px;
                margin-top: -14px;
                font: normal normal normal 26px/1 FontAwesome;
            }
        }
    }
    
    label {
        @extend h3;
        margin-bottom: 10px;
        display: block;

        &.optional {
            display: inline-block;
        }
    }

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin: 0 0 14px;
    }
    
    h3 {
        margin-bottom: 16px;

        &.optional {
            display: inline-block;

            @media #{$mobile} {
                display: block;
            }
        }
    }

    p {
        margin: 0 0 12px;

        &.optional {
            padding-left: 10px;
            font-size: $fontSizeSmall;
            display: inline-block;

            @media #{$mobile} {
                display: block;
                padding: 0;
            }
        }
    }

    a {
        margin-bottom: 20px;
        display: block;
    }

    input,
    textarea {
        display: block;
        padding: 15px 10px;
        border: 1px solid $grey-middle;
        @include border-radius(3px);
        width: 100%;
        max-width: 550px;
        font-family: $fontFamily;
        color: $grey-darkest;
        font-size: $fontSizeDefault;
        margin-bottom: 20px;
        box-sizing: border-box;
    
        &.input-validation-error {
            border: 1px solid $red;
            @include border-radius(3px 3px 0 0);

            &:active,
            &:focus {
                border-color: transparent;
                border-radius: 0;
            }
        }

        &:active,
        &:focus {
            @include outline;
            border-color: transparent;
            border-radius: 0;
        }
    }

    textarea {
        height: 250px;
    }
    
    input[type="number"] {
        -moz-appearance: textfield;
    
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }

    select{
        @include border-radius(3px);
        font-size: $fontSizeDefault;
        border: 1px solid #bcbcbc;
        width: 100%;
        max-width: 550px;
        font-family: $fontFamily;
        box-sizing: border-box;
        line-height: 1.125em;
        padding: 15px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
        background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
        background-repeat: no-repeat;
        background-position: right 30px center;
        background-color: #fff;
        margin-bottom: 20px;
    }

    .input-addon {
        width: 10px;
        vertical-align: middle;
        background-color: $off-white;
        border-bottom: 1px solid $grey-lightest;
        border-left: 1px solid $grey-lightest;
        border-top: 1px solid $grey-lightest;
        @include border-radius(3px 0 0 3px);
        font-size: 1.5em;
        padding: 0 10px;
    
        + input {
            @include border-radius(0 3px 3px 0);
        }
    }

    .input-error-content {
        background: $red;
        color: $white;
        width: 530px;
        padding: 10px;
        margin-bottom: 0;
        position: relative;
        top: -20px;

        @media #{$mobile}, #{$tablet} {
            width: auto;
        }

        &:before {
            content: "\f0d8";
            font-family: FontAwesome;
            font-size: 2em;
            color: $red;
            position: absolute;
            top: -20px;
        }
    }

    .input-information-content i {
        font-size: 27px;
        color: $orange;
        margin: 8px 5px 0 0;
        position: relative;
        top: 2px;
    }

    .input-memorable-date { 
        div {
            display: inline-block;
            position: relative;

            input {
                display: inline-block;
                width: 55px;
                margin-right: 20px;
                line-height: 1.125em;
                text-align: center;
            }

            label {
                font-size: 1.25em;
            }

            &:last-of-type input {
                width: 75px;
            }

            .fa-caret-up {
                font-size: 2em;
                color: $red;
                position: absolute;
                top: 65px;
                left: 25%;

                &.year {
                    left: 30%;
                }
            }
        }  

        .input-error-content {
            top: -16px;
            
            &:before {
                content: '';
            }
        }
    }

    .input-date-picker{
        &.invalid input{
            border: 1px solid $red;
            @include border-radius(3px 3px 0 0);
        }

        .input-error-content {
            top: -21px;
            width: 110px;
        }

        .SingleDatePicker {
            display: block;
            width: 140px;

            .DayPickerNavigation_button__default {
                &:active,
                &:focus {
                    @include border-radius(0);
                    border-color: $orange;
                }
            }

            .SingleDatePickerInput__withBorder {
                border: none;

                input {
                    @extend input;
                    text-align: center;
                }
            }

            .CalendarDay__selected, {
                background-color: $primary;
                border-bottom-color: $primary-dark;

                &:active,
                &:hover {
                    background-color: $primary-light;
                }
            }
        }
    }
}