.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-fullscreen-button {
    margin-bottom: 0;
}

.leaflet-control-layers-selector {
    margin-bottom: 0;
    width: 15px;
    display: inline-block;
}

#root > #map.leaflet-container,
#map.leaflet-container {
    font: 19px / 2 $font-family;
    width: 100%;
    height: 100%;
    max-width: 100%;

    @media #{$mobile} {
        font: 16px / 2 $font-family;
    }
}

.leaflet-map {
    width: 100%;
    height: 730px;
    min-height: 250px;
    border: none;
    box-sizing: border-box;
}

.leaflet-container .leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;	
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
	background: #fff;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;	
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:22px;
	padding:0 20px 0 2px;
	margin:4px 0 4px 4px;
}
.leaflet-control-search.search-load .search-input {
	/* background: url('images/loader.gif') no-repeat center right #fff; */
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:22px;
	height:22px;
	position:absolute;
	right:28px;
	margin:6px 0;
	/* background: url('images/search-icon.png') no-repeat 0 -46px; */
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;		
}
.leaflet-control-search .search-cancel:hover {
	/* filter: alpha(opacity=100);
	opacity: 1; */
	background-color: #f4f4f4;
}
.leaflet-control-search .search-cancel span {
	display:none; /*comment for cancel button imageless*/
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:#aaa;
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	width:30px;
	height:30px;	
	/* background: url('images/search-icon.png') no-repeat 4px 4px #fff; */
	border-radius:4px;
}
.leaflet-control-search .search-button:hover {
	/* background: url('images/search-icon.png') no-repeat 4px -20px #fafafa; */
}
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:120px;
	max-height:122px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
}
.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:black;
	background: #eee;
	border-radius:.25em;
	text-decoration:none;	
	white-space:nowrap;
	vertical-align:center;
}
.leaflet-control-search .search-button:hover {
	background-color: #f4f4f4;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: #fff;
}
.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size:.75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
}


/* our stuff  */

.leaflet-container, input {
	font-family: "Noto Sans", sans-serif!important;
	max-width: unset;
}

.leaflet-control-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.leaflet-top.leaflet-left {
    position: relative;
    order: 1;
}

.leaflet-top.leaflet-right {
    position: relative;
    order: 3;
}

.leaflet-bottom.leaflet-left {
    position: relative;
    order: 2;
    flex-grow: 1;
    padding: 10px;
}

.leaflet-control-search.leaflet-control {
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #fff;
}

input.search-input {
	display: block!important;
    flex-grow: 1;
    outline: none;
	border: 0!important;
}

.leaflet-control-search .search-input {
	height: 28px;
}

ul {
    display: block;
    width: 100%;
    margin: 0;
    max-height: 200px!important;
    margin-top: 1px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)!important;
    z-index: 1;
}

.leaflet-control-search ul.search-tooltip > li.search-tip{
    background: #FFF;
    margin: 0;
    border-radius: 0;
    padding: 7px;
    border-bottom: 1px #ccc solid;
	cursor: pointer;
	font-size: 0.75em;
}

.leaflet-control-search ul.search-tooltip > li.search-tip:hover,
.leaflet-control-search ul.search-tooltip > li.search-tip-select{
    color: #fff;
    background-color: #333;
}

.leaflet-control-search ul.search-tooltip > li.search-tip-select{
	border-top:3px solid #ef8a16;
	border-bottom:3px solid #ef8a16;
}

.search-alert {
    display: none!important;
}

.leaflet-control-search .search-button {
	display: block!important;
	margin-bottom: 0;
	text-decoration: none;
	padding-top: 4px;
	height: 32px;
	line-height: 26px;
}

.search-button::after {
	font-family: "FontAwesome";
	content: "\f002";
	font-size: 20px;
	padding: 0 12px 0 6px;
    color: #333;
    background: 0 0;
    border: none;
}

.leaflet-control-search .search-cancel {
	margin-top: 4px;
	margin-bottom: 0;
	line-height: 26px;
	height: 32px
}

.search-cancel::after {
	font-family: "FontAwesome";
	content: "\f00d";
	font-size: 20px;
	color: #333;
	background: 0 0;
	border: none;
	visibility: visible;
}

.leaflet-control-search.search-exp{
	height: 36px;
	border: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}