.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-fullscreen-button {
    margin-bottom: 0;
}

.leaflet-control-layers-selector {
    margin-bottom: 0;
    width: 15px;
    display: inline-block;
}

#root > #map.leaflet-container,
#map.leaflet-container{
    font: 19px / 2 $font-family;
    width: 100%;
    height: 100%;
    max-width: 100%;

    @media #{$mobile} {
        font: 16px / 2 $font-family;
    }
}

.leaflet-map{
    width: 100%;
    height: 730px;
    min-height: 250px;
    border: none;
    box-sizing: border-box;
}