.profile-inline-container {
	background-color: $white;
	padding: 20px;
	margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
    transition-duration: .5s;
    border-radius: 4px;

	@include flex(row);

	> * {
		@include flex-row(2, 3%);
    }
    
    @media #{$mobile, $tablet} {
        @include flex(column);

        > * {
            @include flex-column(3%);
        }

        .profile-inline-image {
            align-self: center;
        }
	}

	box-shadow: none;

	&:hover {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}

	.profile-inline-image {
		flex-grow: 0;
		border-radius: 50%;
		width: 220px;
        height: 220px;
	}

	.profile-inline-quote {
		@include flex(column);

		> * {
			@include flex-column(1%);
        }

        > .subtitle {
            color: $grey-darkest;
            font-size: 1em;
        }

        > h2 {
            flex-grow: 0;
            color: $grey-darkest;
        }

		.profile-inline-quote-content {
            @include flex(row);

            > * {
                @include flex-row(3, 2%);
            }

            i {
                flex-grow: 0;

                &:last-child {
                    align-self: end;
                }
            }

            p {
                color: $grey-dark;
                font-style: italic;
                font-size: .9em;
            }
        }

        .read-more {
            flex-grow: 0;
            text-decoration: underline;
        }
	}
}