// TODO: This page is a fudge and needs to be re-done
.secondary-item-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .secondary-item {
        float: none;
        display: inline-block;
        
        margin-right: -5px;
        @media #{$tablet} {
            margin-right: 0;
        }

        vertical-align: top;
        text-align: center;
        text-decoration: none;
        padding-bottom: 0;
        margin-bottom: 0;

        @media #{$mobile} {
            font-size: 65%;
        }

        @media #{$tablet} {
            font-size: 85%;
        }

        &:not(:first-child) {
            border-left: solid 1px rgba(0,0,0,0.1);
        }

        a {
            text-decoration: none;
        }

        span {
            display: inline-block;
            font-size: 3em;
            color: $primary;
        }

        h4,
        p {
            margin-bottom: 0;
        }

        .secondary-item-content {
            padding: 15px 0 15px 0;
            min-width: 100%;
            height: inherit;

            a {
                display: inline-block;
            }

            .secondary-item-icon {
                color: $primary;
                margin: auto;
                border: none;
                height: 50px;
                width: 50px;
                padding: 15px;

                @media #{$mobile} {
                    padding: 0;
                }
            }

            .secondary-item-name {
                color: $grey-darkest;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5em;

                h3 {
                    font-size: 1em;
                    letter-spacing: normal;
                    font-weight: 600;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
        
                @media #{$mobile} {
                    margin-bottom: 10px;
                }
        
                @media #{$mobile} {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .secondary-item-description {
                color: $grey-darkest;
                font-size: 13px;
                line-height: 1.5;

                a {
                    font-size: 14px;
                    color: $primary-dark;
                }
            }
        }
    }
}