.showcase-section {
	@extend .full-width;

	padding: 30px 0;
	width: 100%;

	&:nth-child(odd) {
		background-color: $off-white;
	}

	&:nth-child(even) {
		background-color: $white;
	}

	.showcase-button-container {
		@include flex(column);

		@media #{$desktop, $tablet} {
			@include flex(row);
		}

		.showcase-button {
			@extend .button-icon-inverted;
			
			@include flex-column(2.5%);

			margin-top: 0;

			@media #{$desktop, $tablet} {
				@include flex-row(3, 5%);
			}
		}
	}
}
