.sign-up-alert {
    margin: 0;
    
    form {
        background-color: $primary;
        padding: 1.1em 1.1em 1.6em;
        box-sizing: border-box;

        label {
            color: $white;
        }

        input {
            border: $primary-pale 2px solid;
            background-color: $primary-darker;
            color: $white;

            &::placeholder {
                color: $primary-pale;
            }

            &:-ms-input-placeholder {
                color: $primary-pale;
            }

            &::-ms-input-placeholder {
                color: $primary-pale;
            }

            &:active, 
            &:focus {
                border: $white 2px solid;
                outline: $orange 2px solid;
                outline-offset: 0;
            }
        }
    }
}