.signup-or-login {
	background: linear-gradient(0deg, $primary-dark 0%, $primary 100%);

	.icon-list {
		@include flex(row);

		li {
			@include flex-row(3, 3%);
			flex-grow: 0;
			-webkit-flex-grow: 0;
			-webkit-flex-basis: auto;
			flex-basis: auto;
			list-style: none;
		}
	}
}
