.data-table {
    @extend .paginated-footer;
    
    width: 100%;
    border: 1px solid $grey-lighter;
    background-color: $white;
    @include border-radius(3px);
    @include box-shadow(0 10px 13px 0 rgba(0, 0, 0, 0.1));
    margin-bottom: 20px;

    header {
        display: table;
        padding: 20px 0;
        width: 100%;

        @media #{$mobile} {
            background-color: $grey-lighter;
        }

        .headings {
            display: block;
            vertical-align: middle;
            padding-left: 20px;

            @media #{$mobile} {
                padding-left: 10px;
            }

            h2 {
                margin: 0;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: normal;
            }

            p {
                line-height: 22px;
                margin-top: 5px;
                color: #666;
                margin-bottom: 0;
            }
        }

        .call-to-action {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            padding-right: 20px;

            .button-inverted {
                margin: 0;
            }

            button {
                margin: 0;
                display: inline-block;
            }
        }
    }

    .no-activity {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-top: 1px solid #cbcbcb;        
    }

    table {
        overflow: hidden;
        width: 100%;
        border-collapse: collapse;

        thead {
            th {
                border-bottom: none;
                background-color: $grey-lighter;
                text-align: left;
                padding: 20px;

                &.align-right {
                    text-align: right;
                }

                @media #{$mobile} {
                    display: block;
                    width: 100%;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $grey-lighter;

                &:last-of-type {
                    border-bottom: none;
                }

                td {
                    padding: 25px 20px;
                    position: relative;

                    > a {
                        text-decoration: none;

                        > div {
                            margin: 10px 14px;

                            .heading {
                                font-family: $font-family-headings;
                                font-size: $fontSizeLarge;
                                font-weight: $fontWeightBold;
                                color: $grey-darkest;
                            }

                            p:last-of-type {
                                margin-top: 10px;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.align-right {
                        text-align: right;
                    }

                    i {
                        font-size: 1.375em
                    }

                    @media #{$tablet}, #{$desktop} {
                        button {
                            margin: 0;
                            display: table-cell;
                        }
                    }

                    @media #{$mobile} {
                        display: block;
                        padding: 0 10px 10px;

                        &.heading {
                            font-family: $font-family-headings;
                            font-size: $fontSizeLarge;
                            font-weight: $fontWeightBold;
                        }

                        &:first-of-type {
                            padding-top: 10px
                        }

                        &.align-left-mobile {
                            text-align: left;
                        }

                        .status {
                            margin-bottom: 0;
                        }

                        button {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .status {
        background-color: $grey-dark;
        color: $white;
        @include border-radius(3px);
        padding: 7px 10px;
        display: inline-block;
        line-height: 1em;

        @media #{$mobile} {
            margin-bottom: 15px;
        }
    }

    .status-information {
        @extend .status;
        background-color: $soft-blue;
    }

    .status-default {
        @extend .status;
    }

    .status-success {
        @extend .status;
        background-color: $green;
    }

    .status-error {
        @extend .status;
        background-color: $red;
    }

    section {
        padding: 10px 15px;
        border-bottom: 1px solid $grey-light;

        @media #{$mobile} {
            padding: 20px 10px;
        }

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
        }

        @media #{$mobile} {
            h3 {
                margin-bottom: 15px;
            }
        }
    }
}

.data-table-striped {
    @extend .data-table;

    table {
        thead th {
            background-color: $white;
            padding: 15px 20px;
        }

        tbody tr {
            border-bottom: none;
            background-color: $off-white;

            &:nth-child(2n) {
                background-color: $white;
            }
        }
    }

    @media #{$mobile} {
        section {
            background-color: $off-white;
            padding: 0;

            &:nth-child(2n) {
                background-color: $white;
            }

            .heading {
                font-weight: $fontWeightBold;
            }

            td {
                width: 50%;
                padding: 10px;
            }
        }
    }
}

.data-table-costing {
    @extend .data-table-striped;

    @media #{$mobile} {
        header {
            background-color: $white;
        }
    }

    table tbody tr td {
        > a {
            display: block;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &.align-right {
            vertical-align: top;
        }
    }

    @media #{$desktop, $tablet} {
        table tr td:first-child {
            width: 80%;
        }
    }

    footer {
        border-top: 1px solid $grey-lighter;

        .align-right {
            float: right;
        }
    }
}

.appointments {
    @extend .paginated-footer;

    margin: 20px 0;
    padding: 0;
    border: 1px solid $grey-light;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 10px 20px $box-shadow;

    header {
        display: flex;

        max-width: none;
        padding: 20px;
        border-bottom: 1px solid $grey-lighter;

        @media #{$mobile} {
            padding: 20px 15px;
        }

        h2 {
            margin: 0;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: initial;
        }

        p {
            line-height: 22px;
            margin-top: 5px;
            color: $grey-dark;
            margin-bottom: 0;
        }

        .call-to-action { 
            display: flex; 
            vertical-align: middle; 
            text-align: right; 
            margin-left: auto; 


            .button-inverted {
                margin: 0;
            }

            button { 
                margin: 0; 
                display: inline-block; 
            }
    }
}

    .alert-warning-form {
        padding: 20px 40px 30px 20px;
        border: none;
        margin-bottom: 0;
    }

    table {
        tbody {
            tr {
                td {
                    position: relative;
                    padding: 14px;
                }
            }
        }
    }

    .mobile-call-to-action {
        &:hover {
            background-color: $white;
        }

        .button-inverted {
            margin: 0;
        }
    }
}

.no-activity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #cbcbcb;

    p {
        margin-bottom: 0;
    }

    .button-inverted {
        margin: 0;
    }
}

table {
    overflow: hidden;
    margin: 0;
    border-collapse: separate;
    border: none;
    width: 100%;
    border-spacing: 0;

    thead {
        border-bottom: 1px solid $grey-darkest;

        tr {
            height: 30px;
            background-color: $off-white;
            border-top: 1px solid $grey-lighter;

            .align-right {
                text-align: right;
                }

            td {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $grey-lighter;

            .align-right {

                text-align: right;
            }

            td {

                border-bottom: 1px solid $grey-lighter;

                > div { 

                    display: flex;
                    align-items: center;

                    > div {

                        flex: 2 0 0;
                    }

                    p {

                        margin: 0;
                    }
                }
            }
        }
    }
}

.appointment-link {
    tbody {
        tr {
            td {
                @media #{$mobile, $tablet} {
                    a {
                        text-decoration: none;
                        color: $grey-darkest;

                        > div {
                            display: flex;
                            align-items: center;

                            > div {
                                flex: 2 0 0;

                                p {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                @media #{$desktop, $tablet} {
                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 9999px;
                        height: 100%;
                        z-index: 9999;
                    }
                }
            }
        }
    }
}

.with-link {
    table {
        tbody {
            tr {
                td {
                    @media #{$desktop, $tablet} {
                        a {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 9999px;
                            height: 100%;
                            z-index: 9999;
                        }
                    }
                }
            }

            tr:hover {
                background: $off-white;
            }
        }
    }
}

.paginated-footer {
    footer {
        border-top: 1px solid #ccc;
        padding: 14px;

        p {
            padding: 14px;
            margin: 0;
        }

        td {
            .align-right {
                text-align: right;
            }
        }

        > div {
            display: flex;

            @media #{$mobile, $tablet} {
                display: block;
                text-align: center;
            }

            .items-count {
                flex: 2 0 0;
            }

            .page-numbers {
                text-align: right;

                span {
                    font-size: 20px;
                }

                @media #{$mobile, $tablet} {
                    text-align: center;
                }

                form {
                    display: inline;

                    button {
                        text-decoration: underline;
                        margin-left: 4px;
                        line-height: 20px;
                        color: $primary-light;
                        width: auto;
                        padding: 0;
                        border-bottom: 2px solid $primary-light;
                        background: none;
                        border: none;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.hover-hand { 
    cursor: pointer;

    &:hover {
        background: $off-white;
    }
}

