ol.task-item-list {
	position: relative;
	padding: 0;
}

// IE11 crashes when using the css counter() functionality, the code below ensures it is only used on browsers that support it
@supports (content: counter(list-counter) ".") {
	ol.task-item-list {
		list-style: none;
		counter-reset: list-counter;
	}

	.task-item-list {
		> li {
			counter-increment: list-counter;

			&:before {
				@extend .h3;
				content: counter(list-counter) ".";
				position: absolute;
				left: 0;
			}
		}
	}
}

.task-item-list {
	li {
		margin: 0 0 1.75rem 0;

		&.disabled {
			color: $grey-dark;

			h2 {
				color: $grey-dark;
			}

			&:before {
				color: $grey-dark;
			}
		}
	}
}

.task-item {
	position: relative;

	p {
		font-family: $font-family-headings;
		font-weight: $fontWeightRegular;
	}

	@media #{$desktop, $tablet} {
		margin-left: 28px;
	}

	h2 {
		@extend .h3;
		margin: 0 0 5px 16px;

		@media #{$tablet} {
			max-width: 300px;
			margin-left: 0;
		}

		@media #{$desktop} {
			max-width: 600px;
			margin-left: 0;
		}
	}

	hr {
		border: 1px solid $grey-light;
		border-bottom: none;
	}

	> ul {
			padding-left: 2em;
			margin-bottom: 20px;
			list-style-type: disc;	
		> li {
			color: #333;
			margin-bottom: 0.2em;
			font-size: 1em;
			font-family: "Source Sans Pro", sans-serif;
		}
	}

	[class^="status-"] {
		position: absolute;
		top: 0;
		right: 0;
		font-size: $fontSizeSmall;
		font-family: $font-family-headings;
		font-weight: $fontWeightBold;
		padding: 0 5px;
		line-height: 1.5rem;
		box-sizing: border-box;

		@media #{$mobile} {
			font-size: $fontSizeDefault;
			position: relative;
			display: table;
		}

		&.status-completed {
			color: $white;
			background-color: $soft-blue;
		}

		&.status-not-completed {
			color: $grey-dark;
			background-color: $white;
			border: 2px solid $grey-dark;
			line-height: 1.25rem;
		}

		&.status-cant-start {
			color: $white;
			background-color: $grey-dark;
		}
	}

	.anchor-with-status {
		display: block;
		position: relative;
		border-bottom: 1px solid $grey-light;
		padding: 5px 0;
		margin: 0;
		color: $primary-pale;

		> a,
		> p {
			font-size: $fontSizeSmall;
			margin: 0;
			font-weight: $fontWeightRegular;
			font-family: $font-family;
			display: inline;
		}

		> p {
			color: $grey-dark;
		}

		&:first-of-type {
			border-top: 1px solid $grey-light;
		}

		> [class^="status-"] {
			top: calc(50% - 0.75rem);

			@media #{$mobile} {
				margin: 5px 0;
			}
		}
	}
}
