// IE11 crashes when using the css counter() functionality, the code below ensures it is only used on browsers that support it
@supports (content: counter(list-counter) ".") {
	.task-item-list {
		list-style: none;
		counter-reset: list-counter;

		> li {
			counter-increment: list-counter;

			@media#{$mobile} {
				margin-left: 16px;
			}

			&:before {
				@extend .h3;
				content: counter(list-counter) ".";
				position: absolute;
				left: 0;
			}
		}
	}
}

.task-item-list {
	position: relative;
	padding: 0;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@media #{$mobile} {
			margin-left: 22px; // IE11 hacks
		}
	}

	li {
		margin: 0 0 2.5rem;

		@media #{$tablet, $desktop} {
			margin-left: 26px;
		}

		&.disabled {
			color: $grey-dark;

			h2,
			&:before,
			ul li  {
				color: $grey-dark;
			}
		}
	}
}

.task-item {
	position: relative;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@media #{$mobile} {
			margin-left: -22px; // IE11 hacks
		}
	}

	p {
		font-family: $font-family;
		font-weight: $fontWeightRegular;
	}

	h2 {
		@extend .h3;
		margin: 0 0 8px 16px;

		@media #{$tablet} {
			max-width: 300px;
			margin-left: 0;
			margin-bottom: 16px;
		}

		@media #{$desktop} {
			max-width: 600px;
			margin-left: 0;
			margin-bottom: 16px;
		}
	}

	hr {
		border: 1px solid $grey-light;
		border-bottom: none;
	}

	> ul {
			padding-left: 2em;
			margin-bottom: 20px;
			list-style-type: disc;

		> li {
			margin-bottom: 0.2em;
		}
	}

	[class^="status-"] {
		font-size: $fontSizeDefault;
		font-family: $font-family-headings;
		font-weight: $fontWeightBold;
		padding: 2px 8px 4px 8px;
		line-height: normal;
		box-sizing: border-box;
		white-space: nowrap;
		float: right;
		margin: 0 0 0 16px;

		&.status-completed {
			color: $white;
			background-color: $soft-blue;
		}

		&.status-not-completed {
			color: $grey-dark;
			background-color: $white;
			border: 2px solid $grey-dark;
			line-height: 1.25rem;

			@media #{$mobile} {
				line-height: 1rem;
			}
		}

		&.status-cant-start {
			color: $white;
			background-color: $grey-dark;
		}
	}

	.anchor-with-status {
		display: flex;
		justify-content: space-between;
		position: relative;
		border-bottom: 1px solid $grey-light;
		padding: 8px 0;
		margin: 0;
		color: $primary-pale;
		min-height: 26px;

		@media #{$desktop, $tablet} {
			min-height: 30px;
		}

		> a,
		> p {
			margin: 0;
			font-weight: $fontWeightRegular;
			font-family: $font-family;
			display: inline;
			align-self: center;
		}

		> p {
			color: $grey-dark;
		}

		&:first-of-type {
			border-top: 1px solid $grey-light;
		}

		> [class^="status-"] {
			align-self: flex-start;
		}
	}
}
