.map {
    max-width: 1100px;
    max-height: 250px;
    height: 250px;
    border-radius: 3px;
    background-size: 100% 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;

    :before {
        position: absolute;
        content: '';
        border-radius: 50%;
        opacity: 1;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        border: 2px solid white;
    }

    @media #{$tablet} {
        max-width: 880px;
    }

    @media #{$mobile} {
        width: 100%;
        max-width: 550px;
        height: 180px;
    }

    .copyright-information p {
        color: black;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        size: 0.7em;
    }
}

.open :before {
    background-color: #ff0030;
}

.closed :before {
    background-color: #00ff30
}
