.typeform-bar {
  background-color: $primary-darkest;

  > div {
    padding: 14px 0;
  }

  p {
    color: $white;
    font-size: 0.875em;
    margin: 0;
  }

  .typeform-bar-icon {
    background-color: #fff;
    color: #1d3837;
    margin-right: 15px;
    font-weight: 700;
    padding: 3px 12px;
  }

  .typeform-bar-title {
    font-weight: 700;
  }

  .typeform-bar-body {
    a {
      color: $white;
    }
  }
}
